/* footer.css */
.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  font-size: 14px;
  color: #333;
  padding-bottom: 0;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-column {
  flex: 1;
  padding: 0 10px;
}

.footer-column h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #000;
}

.footer-column p {
  margin-bottom: 5px;
  line-height: 1.6;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
  position: relative; /* Nécessaire pour positionner la flèche */
  padding-left: 10px; /* Espace pour la flèche */
}

.footer-column ul li::before {
  content: ">"; /* Flèche droite */
  position: absolute;
  left: 0;
  color: #007bff; /* Bleu lin */
}

.footer-column ul li a {
  color: #333; /* Texte en noir */
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-column h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #000;
  font-weight: bold; /* Ajout pour mettre le texte en gras */
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons a {
  color: #333;
  font-size: 30px;
}

.social-icons a:hover {
  color: #007bff;
}

.footer-bottom-container {
  width: 100%;
  background-color: #050505;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer-bottom {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  background-color: #050505;
}

.footer-bottom p {
  margin: 0;
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  z-index: 1000;
}

.back-to-top:hover {
  background-color: #0056b3;
}
