header {
  background-color: #333;
  padding: 1rem 0;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 2rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a.active {
  color: #0d6efd;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu i {
  font-size: 1.5rem;
  color: white;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}
