/* Hero Section */
.hero {
  position: relative;
  background-image: url("/public/img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 3em;
  margin: 0;
  padding: 0;
  color: #fff;
}

.hero h2 {
  font-size: 2em;
  margin: 10px 0;
  color: #fff;
}

.btn {
  background-color: #0d6efd;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #0056b3;
}

/* About Section */
.about {
  padding: 50px 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.about h2 {
  font-size: 2em;
  margin-bottom: 30px;
  color: #1e1e1e;
  border-bottom: 2px solid #0d6efd;
  display: inline-block;
  padding-bottom: 10px;
  width: 100%;
}

.about-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Permet l'empilement des colonnes */
}

.about-text,
.photo-skills {
  flex: 1;
  box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
}

.about-text {
  flex: 1;
  text-align: center;
  padding-right: 20px;
  max-width: 100%;
  text-align: left;
}

.about-text p {
  margin: 15px 0;
}

.about-text .highlight {
  font-weight: bold;
}

.photo-skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}

.about-photo {
  flex: 1;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

.about-photo img {
  max-width: 100%;
  border-radius: 10px;
}

.skills {
  margin-top: 30px;
  width: 100%;
  text-align: left;
}

.skill {
  margin-bottom: 15px;
}

.skill label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

/* Styles globaux pour les barres de progression */
.progress {
  background-color: #ddfaf6 !important;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

.progress-bar {
  height: 20px;
  border-radius: 20px;
}

.progress-bar-html {
  background-color: #ff4b4b; /*!important permet de rendre le css ciblé prioritaire*/
}

.progress-bar-css {
  background-color: #4b7cff;
}

.progress-bar-js {
  background-color: #fcd34d;
}

.progress-bar-php {
  background-color: #4bcf50;
}

.progress-bar-react {
  background-color: #61dafb;
}

/* Media Queries */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }

  .about-text,
  .about-photo {
    flex: 1 1 100%; /* Assure que les colonnes prennent toute la largeur */
    min-width: 300px; /* Assure une largeur minimale pour les colonnes */
    padding: 0; /* Supprime le padding pour éviter les marges inutiles */
    text-align: center;
  }

  .photo-skills {
    order: 2; /*Assure que la photo apparaît toujours après le texte*/
  }

  .about-photo,
  .skills {
    max-width: 100%;
    padding: 0 20px;
  }

  .about-text {
    padding-right: 0;
    margin-bottom: 20px; /* Ajoute de l'espace entre les colonnes sur les petits écrans */
  }
  .about-photo img {
    width: 100%; /* Ajuste la taille de l'image sur les petits écrans */
  }
  .skills {
    margin-top: 20px;
  }
}

@media (max-width: 1024px) {
  .about-content {
    flex-direction: column;
  }

  .about-text,
  .photo-skills {
    max-width: 100%;
    padding: 0;
  }

  .photo-skills {
    order: 2; /* Ensure the photo-skills section always appears after the about-text section */
  }

  .about-photo img {
    width: 100%; /* Ensure the image takes up the full width of its container */
  }

  .skills {
    margin-top: 20px;
  }
}
