/* legal.css */

/* Container principal */
.legal-container {
  font-family: "Nunito Sans", sans-serif;
  color: #444;
  padding: 2rem;
}

/* Section du header */
.legal-header {
  text-align: center;
  padding: 2rem 0;
  background-color: #eee;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.legal-header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #1e1e1e;
}

.legal-header p {
  font-size: 1.2rem;
  color: #555;
  display: inline-block;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #0d6efd;
}

/* Style des sections */
.legal-section {
  background-color: #eee;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  padding: 1.5rem;
}

.legal-section .section-header {
  font-size: 1.2rem;
  font-weight: bold;
  color: #0d6efd;
  cursor: pointer;
}

.legal-section .section-content {
  margin-top: 1rem;
  display: none; /* Masqué par défaut */
  transition: all 0.3s ease-in-out;
}

.legal-section .section-content p {
  margin: 0;
}

.legal-section.active .section-content {
  display: block; /* Affiche lorsque la section est active */
}

.section-content p {
  margin: 0.5rem 0;
}

.contact-info {
  font-weight: bold;
}

.contact-info a {
  color: #0d6efd;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}
