/* Bandeau d'image */
.banner-image {
  width: 100%;
  height: 200px;
  background-image: url("/public/img/banner.jpg"); /* S'assurer que le chemin est correct */
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

/* Header Section */
.serv-header {
  text-align: center;
  margin-bottom: 20px;
}

.serv-header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.serv-header p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
}

/* Soulignement en bleu de la mention */
.serv-header .serv-highlight {
  display: inline-block; /* Assure que l'élément prend seulement la place nécessaire */
  position: relative;
  padding-bottom: 5px;
  font-weight: bold;
}

.serv-header .serv-highlight::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 50%; /* Ajustez cette valeur pour contrôler la longueur de la barre */
  border-bottom: 2px solid #0d6efd;
}

/* Services Section */
.serv-list .serv-container-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.serv-card {
  padding: 20px;
  text-align: center;
  margin: 20px !important;
  flex: 1 1 calc(30% - 20px);
  border: none !important;
  box-shadow: none !important; /* Supprime l'ombre */
  border-radius: 0 !important; /* Supprime les coins arrondis */
}

.serv-card i {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #0d6efd;
}

.serv-card h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.serv-card p {
  font-size: 1rem;
  line-height: 1.6;
}

/* Classe pour le texte en gras avec soulignement en pointillé */
.serv-bold-dotted-underline {
  font-weight: bold; /* Met le texte en gras */
  text-decoration: underline dotted; /* Ajoute le soulignement en pointillé */
  text-decoration-color: #333; /* Couleur du soulignement */
  text-underline-offset: 3px; /* Décale le soulignement de 3 pixels en dessous du texte */
}

/* Responsive */
@media (max-width: 768px) {
  .serv-card {
    flex: 1 1 calc(100% - 20px);
  }

  .serv-banner-image {
    height: 150px; /* Réduire la hauteur sur les petits écrans */
  }
}
